form a {
    margin-left: 5px;
}

.fade-enter {
    opacity: 0;
    transform: translateX(100px);
}

.fade-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: .5s ease-in all;
}

.fade-leave {
    transform: translateX(0);
    opacity: 1;
}

.fade-leave-active {
    transform: translateX(100px);
    opacity: 0;
}